@font-face {
    font-family: 'latomedium';
    src: url('../fonts/lato-medium-webfont.eot');
    src: url('../fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-medium-webfont.woff2') format('woff2'), url('../fonts/lato-medium-webfont.woff') format('woff'), url('../fonts/lato-medium-webfont.ttf') format('truetype'), url('../fonts/lato-medium-webfont.svg#latomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Lato-Light';
    src: url('../fonts/Lato-Light.eot');
    src: local('?'), url('../fonts/Lato-Light.woff') format('woff'), url('../fonts/Lato-Light.ttf') format('truetype'), url(../) format('svg');
    font-weight: normal;
    font-style: normal;
}

.wdh{
    width:100%;
}

.hide{
    display:none;
}

.pad0{
    padding:0 !important;;
}

.mrg0{
    margin:0 !important;
}

.tabbar {
    position: fixed !important;
    bottom: 0 !important;
    top: initial !important;
}

.textupper {
    text-transform: uppercase;
}

.comment_box {
    position: fixed;
    width: 100%;
    bottom: -35px;
}

.messagebar {
    bottom: 0;
    position: fixed;
}

.badge {
    position: absolute !important;
    right: 15px !important;
    top: 2px !important;
}

.material-icons {
    font-size: 28px !important;
}

#shopper_register-profile_btn, #create_feed-image_btn, .btn-center {
    position: relative !important;
    margin: auto;
    right: 0 !important;
    bottom: 0 !important;
}


.landing_bg{
    background:url(../img/index-bg1.png) no-repeat;
    background-size:cover;
}

.index_logo_container {
    height: auto;
    margin-top: 40%;
}

.index_logo {
    width: 30%;
    height: auto;
    border-radius: 30px;
}

.pettato_btn_trans {
    background-color: transparent !important;
    width: 70%;
    height: auto;
    border: 2px solid #ffffff;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 3%;
    margin: 5% auto;
    text-shadow: 1px 1px #000000;
    font-size: 1.3em;
}

.continueapp-btn {
    background-color: transparent !important;
    width: 70%;
    height: 10%;
    border: 2px solid #fff !important;
    text-align: center !important;
    color: #fff !important;
    text-transform: uppercase !important;
    padding: 2.5%;
    position: absolute !important;
    margin: auto;
    /* top: 38%; */
    left: 0;
    right: 0;
    bottom: 25% !important;
    font-family: 'latomedium' !important;
    text-shadow: 1px 1px #000 !important;
}


.ne_on {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 95px;
}

.title {
    color: #000 !important;
    font-family: 'latomedium' !important;
    font-size: 1em !important;
    text-align: center !important;
    position: absolute !important;
    margin: auto !important;
    left: 0 !important;
    top: 0 !important;
    right: 0;
    bottom: 0;
    text-transform: uppercase !important;
    pointer-events:none;
}

.title1 {
    color: #000 !important;
    font-family: 'latomedium' !important;
    font-size: 1em !important;
    text-align: center !important;
    margin:0 23% !important;
    text-transform: uppercase !important;
}

.header {
    background: #fff !important;
    border-bottom: 1px solid #000 !important;
    padding: 2% !important;
    /* position: fixed !important;
    top: 0 !important;
    left: 0 !important; */
    z-index: 99999 !important;
}

.right {
    width: 8%;
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    right:3%;
}

.register-btn {
    background-color: #489c2d;
    padding: 1%;
    margin-top: 10%;
    margin-bottom:0 !important;
}

.lo_gin{
    text-align: center;
    color: #fff !important;
    text-transform: uppercase !important;
    font-family: 'latomedium' !important;
}

.reset-btn {
    background-color: #775942;
    padding: 1%;
    margin-top:0 !important;
}

.login-hr {
    width: 95%;
    margin:0 auto;
}


.facebook-btn {
    background-color: #3b5998;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 2% 0;
    margin-top: 8%;
    width:100%;
}

.instagram-btn {
    background: linear-gradient(to right, #f16513 0%, #de2682 100%);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 2% 0;
    width:100%;
}

.fb_btn{
    width: 6%;
    margin-top: 2%;
}

.pad_55{
    padding-top:55px !important;
}

.f_box{
    margin: 0 0 32px 0 !important;
    padding:0 !important;
}

.c_ard{
    margin:0 !important;
    position:relative;
    min-height:90px;
}

.pro_view{
    width:50%;
    padding:0 !important;
    background:transparent;
    position: absolute;
    z-index: 1;
    left: 15px;
    bottom: 30px;
}

.inner_pro_view {
    width: 50%;
    padding: 0 !important;
    z-index: 1;
    left: 15px;
}

.inner_pro_name{
    left: 5%;
    position: relative;
    top: 20px;
    color: #000000;
    font-size: 1em !important;
    letter-spacing: 0.5px;
}

.inner_pro_tag{
    position: relative;
    top: 20px;
    left: 5%;
    color: #c2c2c2 !important;
    font-size: 0.7em !important;
}

.inner_like_share{
    background: transparent !important;
    width: 27%;
    position: absolute;
    z-index: 1;
    right: 5px;
    bottom: 15px;
}

.inner_pro_pic {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background: #000;
    overflow: hidden;
    margin: 5%;
}

.pro_pic{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: #000;
    overflow:hidden;
    margin-top: 10%;
}

.pro_pic img{
    width: 100%;
    height: auto;
}

.pro_pic1{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: -38px;
    margin-left: 10%;
    z-index: 99999;
    background: #000;
    border: 3px solid #fff;
}

.pro_pic1 img{
    width: 100%;
    height: auto;
}

.pro_name{
    left: 5%;
    position: relative;
    top: 15px;
    color:#fff;
    font-size: 1em !important;
    letter-spacing: 0.5px;
}

.pro_tag{
    position: relative;
    top: 12px;
    left: 5%;
    color: #cccce4 !important;
    font-size: 0.7em !important;
}

.like_share{
    background: transparent !important;
    width: 27%;
    position: absolute;
    z-index: 1;
    right: 5px;
    bottom: 15px;
}

.white_heart{
    color:#fff;
}

.white_heart_bubble {
    border-radius: 90px;
    padding: 6px;
    color: #ffffff;
}

.bg_yellow {
    background: #FFEB3B;
}

.bg_green {
    background: #4caf50;
}

.bg_blue {
    background: #9c27b0;
}

.black_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 39%, rgba(0,0,0,0.7) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(39%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.7)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 39%, rgba(0,0,0,0.7) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 39%, rgba(0,0,0,0.7) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 39%, rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 39%, rgba(0,0,0,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.shr_lnk{
    position: absolute !important;
    left: 12%;
    top: -65%;
}

.black_clr{
    background:#000 !important;
}

.dlt_lnk{
    position: absolute !important;
    left: 16%;
    top: -150%;
}

.create_feed_pic{
    height: 170px;
    padding: 15% 10% 10% 10%;
    background:#fff;
}

.first_tab{
    color: #fff !important;
    font-size: 1em !important;
    margin-top: 3%;
    margin-bottom: 2%;
}

.first_t{
    font-family: 'latomedium' !important;
    color: #fff !important;
    padding: 2% !important;
}


.white_border{
    border: 1px solid #fff !important;
}

.color_blk{
    color:rgba(0,0,0,0.71);
}

.back_none{
    background:transparent !important;
}

.materialize-tags{
    border: 1px solid #ffff !important;
    width: 95% !important;
    padding: 2% !important;
    color:#fff !important;
}
.chip,.n-tag{
    color:#fff !important;
}

.loc{
    color: #bbb8b8 !important;
    /* border: 1px solid #fff !important; */
    padding: 2% !important;
}

.first_t::-webkit-input-placeholder {
   color: #bbb8b8 !important;
}

.first_t:-moz-placeholder { /* Firefox 18- */
   color: #bbb8b8 !important;  
}

.first_t::-moz-placeholder {  /* Firefox 19+ */
   color: #bbb8b8 !important;  
}

.first_t:-ms-input-placeholder {  
   color: #bbb8b8 !important;  
}

.n-tag::-webkit-input-placeholder {
   color: #bbb8b8 !important;
}

.n-tag:-moz-placeholder { /* Firefox 18- */
   color: #bbb8b8 !important;  
}

.n-tag::-moz-placeholder {  /* Firefox 19+ */
   color: #bbb8b8 !important;  
}

.n-tag:-ms-input-placeholder {  
   color: #bbb8b8 !important;  
}


.submit-btn {
    text-align: center;
    text-transform: uppercase;
    padding: 2%;
    background: #489c2d;
    width: 100%;
    outline: none;
    border: none;
    margin-bottom:0 !important;
}

.submit-btn a{
    color: #fff;
    font-family: 'latomedium';
}

.messages-content{
    background:rgba(0,0,0,0.71) !important;
    padding-left:2%;
    padding-right:2%;
}

.message-date, .message-label, .message-name, .messages-date {
    color: rgba(255,255,255,0.51) !important;
}

.message{
    margin-bottom:5% !important;
}

.message-name{
    margin-bottom:5% !important; 
}

.messages-date{
    margin-bottom:0 !important;
    font-size:10px !important;
    padding-top:4% !important;
    border-top:1px solid !important;
}

.pad_5{
    padding-top:5% !important;
}

.men_u{
    background:rgba(0,0,0,0.73);
}

.comment{
    font-size: 1.5em;
    font-family: 'Conv_Lato-Light';
    color: #fff;
    text-align: center !important;
    position: absolute;
    /* margin: auto; */
    left: 0;
    right: 0;
    top: 0.5%;
    margin: 0 !important;
}

.menu_a{
    color:#fff !important;
    margin: 7% !important;
    display: block;
    text-align: left;
    font-weight: 300;
    font-size: 1.1em;
    font-family: 'latomedium';
    text-transform: uppercase;
    line-height: 200%;
}

.menu_sub{
    margin-top:12% !important;
}

.menu_logo{
    width:25%;
    margin-top:10%;
}

.cover_box{
    width:100%;
    position:relative;
    z-index:-1;
}

.insert_cover{
    position:absolute;
    top:4%;
    right:0;
}

.cvr{
    color: rgba(0,0,0,0.73);
    background: #fff;
    border-radius: 7px;
    font-size: 2.5em !important;
}

.c_b{
    width: 100%;
    position: relative;
}

.p_name{
    font-size: 1.4em;
    text-align: left;
    padding: 0 10%;
    color: rgba(0,0,0,0.51);
    font-weight: bold;
}

.p_name1{
    position: relative;
    left: 0;
    right: 0;
    top: -27px;
    font-size:1em;
    text-align:center !important;
    margin:0;
}

.user_blk{
    width: 95% !important;
    margin: 7% auto !important;
    margin: 0 auto;
    color: rgba(0,0,0,0.51) !important;
    top:0 !important;
}

.pro_file_icons{
    display: inline-block;
    margin: 0 auto;
    width: 32%;
    text-align: center;
}

.pro_file_icons p{
    margin: 1% 0 !important;
}

.chart_box{
    width:100%;
    margin-bottom:8%;
    height:0;
    overflow:hidden;
}

.follow_col{
    background:rgba(0,0,0,0.71);
    text-align:center !important;
    width:50% !important;
}

.follow_col p{
    color:#fff !important;
}

.follow_col1{
    background:#fff;
    text-align:center !important;
    width:50% !important;
}

.follow_col1 p{
    color:#212121 !important;
}

.user_own_feed{
    width: 100%;
    font-size: 1.2em;
    text-align: center;
}

/* .own_feed{
    width:96%;
    height:85px;
    display:inline-block;
    overflow:hidden;
} */

.follow_block a {
    color: #fff;
    background: #489c2d;
    border-radius: 5px;
    margin: 5%;
}
.bee{
    width:35%;
}

.own_feed {
    height: auto;
    padding: 0 1px;
    overflow: hidden;
    width: 49%;
    float: left;
}

.user_status,.user_status1{
    margin-bottom:8%;
    padding-left:3%;
}

.status_box{
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.71);
    margin-left: 1%;
    padding: 1% 4% 1% 1%;
    outline: none;
}

.notify{
    background: rgba(0,0,0,0.71);
    color: #fff;
    border-bottom:1px solid rgba(255,255,255,0.71);
}


.notify_box{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #000;
    overflow: hidden;
    margin: 4% 0px;
    /* border:1px solid #fff; */
}

.notify_box img{
    width:100% !important;
    height:auto !important;
    max-width:100% !important;
    border-radius:0 !important;
}

.notify_sub{
    font-size:0.8em !important;
}

.black_light{
    background:#000 !important; 
}

#shopper_chat, #business_chat{
    margin: 0;
    padding: 0;
}

.picker-calendar>.toolbar>.toolbar-inner{
    background-color: #2196f3 !important;
}

.tutorial{
    width:100%;
    height:100%;
    position:fixed;
    top:-7%;
    left:0;
    z-index:99999999999;
}

.tutorial_img{
    width:100%;
}

.modal-overlay.modal-overlay-visible, .picker-modal-overlay.modal-overlay-visible, .popup-overlay.modal-overlay-visible, .preloader-indicator-overlay.modal-overlay-visible {
    visibility: visible;
    opacity: 0;
}


.gradiant_color{
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 59%, rgba(0,0,0,0.11) 75%, rgba(0,0,0,0.27) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(59%, rgba(0,0,0,0)), color-stop(75%, rgba(0,0,0,0.11)), color-stop(100%, rgba(0,0,0,0.27)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 59%, rgba(0,0,0,0.11) 75%, rgba(0,0,0,0.27) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 59%, rgba(0,0,0,0.11) 75%, rgba(0,0,0,0.27) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 59%, rgba(0,0,0,0.11) 75%, rgba(0,0,0,0.27) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 59%, rgba(0,0,0,0.11) 75%, rgba(0,0,0,0.27) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}


.popover {
      width: 200px;
    }

.forgot_password{
    height: auto !important;
    line-height: 20px !important;
    font-size: 0.6em !important;
    text-align: left !important;
    padding-left: 5% !important;
    color:#3b5998;
    text-decoration:underline;
    text-transform:none;
}

#mapCanvas {
    width: 100%;
    height: 250px;
}